<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talk_with_doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logocircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".introduction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewPharmacy" />
        <activity android:name=".viewPatient" />
        <activity android:name=".viewDoctor" />
        <activity android:name=".requestEmail" />
        <activity android:name=".homeAdmin" />
        <activity android:name=".addPharmacy" />
        <activity android:name=".addDoctor" />
        <activity android:name=".profileAdmin" />
        <activity android:name=".Logout" />
        <activity android:name=".Bookings" />
        <activity android:name=".orderMedicines" />
        <activity android:name=".notificationsPatient" />
        <activity android:name=".SignUpPatient" />
        <activity android:name=".patientDetails" />
        <activity android:name=".doctorDetails" />
        <activity android:name=".newAppointment" />
        <activity android:name=".profilePatient" />
        <activity android:name=".homePatient" />
        <activity android:name=".NotificationDoctorActivity" />
        <activity android:name=".AppoinmentsDoctorActivity" />
        <activity android:name=".MyAppoinmentsDoctorActivity" />
        <activity android:name=".ViewPatientDoctorActivity" />
        <activity android:name=".HomeDoctorActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".incomeInsert" />
        <activity android:name=".registerPharmacy" />
        <activity android:name=".profilePharmacy" />
        <activity android:name=".prescriptionPharmacy" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginActivityPatient" />
        <activity android:name=".LoginActivityPharmacy"/>
        <activity android:name=".LoginActivityDoctor" />
        <activity android:name=".LoginActivityAdmin" />
        <activity android:name=".incomePharmacy" />
        <activity android:name=".homePharmacy" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>